<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link href="~/Content/Login.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Login</title>
</head>
<body>
	<div>
	</div>

	<div class="header">

		<a href="#" id="open">
			<span class="glyphicon glyphicon-menu-hamburger"></span>
		</a>

	</div>

	<!--WEB NAME LOGO-->

	<div class="webname">

		<a href="homepage"><img src="~/Content/images/logo.jpg"></a>


	</div>

	<!--SEARCH BAR-->

	<div class="search">

		<form>

			<div class="input-group">
				<input type="text" name="search" class="form-control" placeholder="Search">
				<div class="input-group-btn">
					<button class="btn btn-danger" type="submit"> <i class="glyphicon glyphicon-search"></i></button>

				</div>

			</div>
		</form>
	</div>

	<!--SIDE BAR MENU Start-->

	<div id="wrapper">


		<div id="sidebar-wrapper" class="sidebar">
			<ul class="sidebar-nav">
				<li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Posts</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-paperclip"></span> Pinned respurces</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-download-alt"></span> Downloads</a></li>
				<li class="settings"><a href="homepage"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

			</ul>
		</div>



		<script>
			$('#open').click(function () {
				$('.sidebar').toggleClass('active')
			})

			$(document).click(function (e) {
				var sidebar = $(".sidebar, #open");
				if (!sidebar.is(e.target) && sidebar.has(e.target).length === 0) {
					sidebar.removeClass('active')
				}
			});

		</script>

		<div class="userInfo">
			<a href="Profile">
				<div id="dp">
					<!--<a href="#"><img src="~/Content/images/dp.jpg"></a> -->
				</div>
			</a>

			<div id="infomenu">

				<div class="dropdown">
					<a href="#" class=" dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li><a href="#">Settings</a></li>
						<li><a href="homepage">logout</a></li>
					</ul>
				</div>

			</div>

			<div id="info">


			</div>

			<a href="qaforum">
				><div id="qa">
					

				</div>
			</a></div>

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div id="col-1-row-1">
					<a href="Book"><div id="books"></div></a>

					<div id="booktitle"><h2>Books</h2></div>
				</div>

				<div id="col-2-row-1">
					<a href="Assignment"><div id="ass"></div></a>
					<div id="asstitle"><h2>Assignments</h2></div>
				</div>
				<div id="col-3-row-1">
					<a href="Software"><div id="software"></div></a>
					<div id="softwaretitle"><h2>Necessary Softwares</h2></div>
				</div>
				<div id="col-1-row-2">
					<a href="Routine"><div id="routine"></div></a>
					<div id="routinetitle"><h2>Class Routine</h2></div>
				</div>
				<div id="col-2-row-2">
					<a href="PrevQues"><div id="pq"></div></a>
					<div id="pqtitle"><h2>Previous year Questions</h2></div>
				</div>

				<div id="col-3-row-2">
					<a href="Resources"><div id="resource"></div></a>
					<div id="retitle"><h2>Study Resources</h2></div>
				</div>
			</div>
		</div>
	</div>

	<!--Down Info-->



	<div class="downinfo">

		<div id="col-1" class="text-center">

			<h3>Why ASA</h3>
			<ul>
				<li>All study material in one place</li>
				<br />
				<li>Open for all</li>
				<br />
				<li>Exam, Assignment, academic notices... all study materials</li>
			</ul>


		</div>

		<div id="col-2" class="text-center">

			<h3>More at ASA</h3>
			<ul>
				<li>Important Blogs of Teachers</li>
				<br />
				<li>All Useful Links</li>
			</ul>


		</div>

		<div class="col-3">
			<h3>Contact Us</h3>
			<ul>
				<li><span>Email :</span> asa@gmail.com</li>
				<br />
				<li><span>Phone :</span> 01673304886</li>
			</ul>
		</div>
	</div>

	<!--FOOTER START -->

	<div class="footer">

		<footer>
			<div id="f1">
				Aust Student Assistance 2017 &copy; All right reserved.
			</div>

			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-google"></a>
			<a href="#" class="fa fa-linkedin"></a>
			<a href="#" class="fa fa-youtube"></a>
		</footer>

	</div>
</body>

</html>
